{% extends 'base.html' %}

{% block content %}
    <h1>Edit Blog</h1>
    <form action="{{ url_for('editblog') }}" method="POST" name="index">
        {{form.hidden_tag()}}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body(class="ckeditor") | safe}}<br>
            {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>{{ form.submit() }}</p>
        </p>
    </form>
{% endblock %}